.image-head {
  background-image:url(https://res.cloudinary.com/dcceoafyr/image/upload/v1525927475/seabackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
}

.container {
  text-align: center;
  padding-top: 50px;
}

.searchTerm {
  width: 400px;
}

body,
h1,
p{
  font-family: Trebuchet MS, sans-serif;
}

hr {
  border-bottom: 1px solid;
}

.container {
  text-align: center;
  padding-top: 50px;
}

#main {
  padding-top: 50px;
  border-style: solid;
}

.col-md-4 {
  font-size: 30px;
}