body {
  background-image: url(http://wallpapercave.net/images/sea-background-wallpapers/sea-background-wallpapers-9.jpg)
}

.container {
  text-align: center;
  padding-top: 50px;
}

.searchTerm {
  width: 400px;
}

body,
h1,
p{
  font-family: Helvetica, Arial, sans-serif;
}

hr {
  border-bottom: 1px solid;
}

.container {
  text-align: center;
  padding-top: 50px;
}

#main {
  padding-top: 100px;
  border-style: solid;
}

.col-md-4 {
  font-size: 30px;
}